.App {
	text-align: center;
}

body {
	background-color: #e9ecef;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #495057;
}

.flex {
	display: flex;
	flex-direction: column;
}

#header {
	overflow: hidden;
	background-color: #252a3d;
	color: #e4e5e7;
	box-shadow: 0 16px 32px -4px rgba(0, 0, 0, 0.32);
	position: fixed;
	top: -1px;
	left: -1px;
	width: 101%;
	z-index: 99;
}

#scrollCount {
	position: fixed;
	top: 0;
}

#personList {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding-top: 90px;
}

.person-card {
	margin: 5px auto;
	height: 75px;
	width: 90%;
	display: flex;
	border: 1px solid #eaecf4;
	border-radius: 32px 32px 32px 2px;
	box-shadow: 0 4px 13px 0 rgba(0, 100, 182, 0.2);
	align-self: center;
}

.avatar {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	transition: 0.5s ease-in;
}

.fullName {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 7%;
}

.fullName p {
	text-align: left;
	padding-left: 10px;
	margin-bottom: 5px;
}

.custom-button {
	background-color: #252a3d;
	position: relative;
	border: 0;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 0;
	color: #e4e5e7;
	border-radius: 0 12px 12px 12px;
}

.remove-single {
	width: 70px;
	height: 35px;
}

.button-general {
	align-self: center;
	width: 100px;
	height: 45px;
}

hr {
	margin: 0 0 0 7vw;
	padding-left: 10px;
}

#loader {
	display: flex;
	position: absolute;
	top: -1px;
	left: -1px;
	width: 101%;
	height: 101%;
	background-color: #495057;
	z-index: 100;
}

#loader > div {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
	height: 100%;
	width: 100%;
}

.dot {
	animation-timing-function: ease;
	position: relative;
	width: 30px;
	height: 30px;
	margin: 0 5px;
	border-radius: 50%;
	background-color: #adb5bd;
}

.dot-1 {
	left: 60px;
	animation: waitingX infinite 2s;
}

.dot-2 {
	left: 20px;
	animation: waitingY infinite 2s;
}

.dot-3 {
	right: 20px;
	animation: reverseWaitingY infinite 2s;
}

.dot-4 {
	right: 60px;
	animation: reverseWaitingX infinite 2s;
}

@keyframes waitingX {
	0% {
		transform: translate(0);
	}
	33% {
		transform: translate(200%);
	}
	66% {
		transform: translate(-200%);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes reverseWaitingX {
	0% {
		transform: translate(0);
	}
	33% {
		transform: translate(-200%);
	}
	66% {
		transform: translate(200%);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes waitingY {
	0% {
		transform: translateY(0);
	}
	33% {
		transform: translateY(200%);
	}
	66% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes reverseWaitingY {
	0% {
		transform: translateY(0);
	}
	33% {
		transform: translateY(-200%);
	}
	66% {
		transform: translateY(200%);
	}
	100% {
		transform: translateY(0);
	}
}

@media screen and (min-width: 640px) {
	.person-card {
		align-self: center;
		width: 40%;
	}
}

@media screen and (min-width: 1140px) {
	.person-card {
		width: 30%;
	}
}

@media screen and (min-width: 1440px) {
	.person-card {
		width: 20%;
	}
}
